[submodule "android/extern/libvncserver"]
	path = android/extern/libvncserver
	url = ../../gujjwal00/libvncserver.git
[submodule "android/extern/libjpeg-turbo"]
	path = android/extern/libjpeg-turbo
	url = ../../libjpeg-turbo/libjpeg-turbo.git
[submodule "android/extern/wolfssl"]
	path = android/extern/wolfssl
	url = ../../wolfSSL/wolfssl.git
